/*

000 - 600px:    normal styles
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet Landscape
1200px - 1800px:  Laptop/Desktop
1800px + :      Big Desktop

  $breakpoint argument choices

  -tablet-portrait
  -tablet-landscape
  -laptop-desktop
  -big-desktop

  1em = 16px
  */
.grid {
  margin: 0;
  display: grid;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 10rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
}
@media screen and (max-width: 25em) {
  .grid {
    grid-template-columns: [full-start] minmax(3rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 10rem) [col-end]) [center-end] minmax(3rem, 1fr) [full-end];
  }
}

.top-nav {
  position: fixed;
  grid-column: 1/-1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  padding: 0 1rem;
  background-color: white;
  width: 100%;
  z-index: 100;
}
.top-nav #menu-toggle ~ .menu li {
  height: 0;
  margin: 0;
  padding: 0;
  border: 0;
  transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
.top-nav #menu-toggle:checked ~ .menu li {
  align-items: center;
  height: 5rem;
  padding: 0.5rem;
  transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
.top-nav #menu-toggle:checked ~ .menu li:first-child {
  border-top: 1px solid #aaa;
}
.top-nav #menu-toggle {
  display: none;
}
.top-nav .menu-button-container {
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.top-nav .menu {
  position: absolute;
  top: 0;
  margin-top: 6rem;
  left: 0;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-inline-start: 0;
}
.top-nav .menu > li {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0.5em 0;
  width: 100%;
  color: #c91919;
  background-color: #fff;
  overflow: hidden;
}
.top-nav .menu > li a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: #4b4b4b;
  font-weight: 600;
  font-size: 2rem;
}
.top-nav .menu > li a:active {
  transform: translateY(0.15rem);
  transition: transform 150ms linear;
}
.top-nav .menu > li:focus, .top-nav .menu > li:active {
  background-color: #c91919;
}
.top-nav .menu > li:focus a, .top-nav .menu > li:active a {
  color: #fff;
}
.top-nav .menu-button,
.top-nav .menu-button::before,
.top-nav .menu-button::after {
  display: block;
  background-color: #c91919;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}
.top-nav .menu-button::before {
  content: "";
  margin-top: -8px;
}
.top-nav .menu-button::after {
  content: "";
  margin-top: 8px;
}
.top-nav #menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}
.top-nav #menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}
.top-nav #menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
.btn, .btn:link, .btn:visited {
  padding: 1.5rem 5rem;
  border-radius: 10rem;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  transition: all 0.2s;
  position: relative;
  font-size: 1.25rem;
  font-weight: 700;
  font-family: "IBM Plex Sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
.btn:hover {
  transform: translateY(-3px);
  background: #c91919;
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.btn--main {
  background: #c91919;
}
.btn--white {
  color: #54483a;
}
.btn--white::after {
  background-color: #c91919;
}
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}

.btn-small, .btn-small:link, .btn-small:visited {
  background-color: #c91919;
  padding: 1.25rem 4rem;
  border-radius: 10rem;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  transition: all 0.2s;
  position: relative;
  font-size: 1rem;
  font-weight: 700;
  font-family: "IBM Plex Sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
.btn-small:active, .btn-small:link:active, .btn-small:visited:active {
  transform: translateY(0.15rem);
  transition: transform 150ms linear;
}

.btn--secondary {
  border: #c91919 solid 1px;
  background-color: #fff;
  color: #c91919 !important;
}
.btn--secondary:hover {
  background-color: #c91919;
  color: #fff !important;
}

.header {
  grid-column: full-start/full-end;
  font-family: "Roboto", sans-serif;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../../../img/workout-girl.png");
  min-height: 100vh;
  background-position: center;
  background-size: cover;
}
.header .bg-video {
  display: none;
}
@media only screen and (min-width: 37.5em) {
  .header {
    background-image: none;
  }
}
@media only screen and (min-width: 37.5em) {
  .header .bg-video {
    display: inherit;
    position: absolute;
    top: 0;
    left: 0;
    height: 70vh;
    width: 100%;
    overflow: hidden;
    z-index: -1;
  }
  .header .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
.header__text-container {
  margin-top: 70vh;
  margin-left: 1rem;
}
.header__text-container .header__title {
  margin-bottom: 1rem;
  color: #fff;
  font-size: 4rem;
}
.header__text-container .header__subtitle {
  color: #fff;
  font-weight: 300;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
.header__text-container p {
  color: #fff;
}
.header__text-container .btn {
  margin-bottom: 1rem;
}

.cards {
  grid-column: col-start/col-end 8;
  margin-bottom: 8rem;
}
.cards .cards__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 5rem;
}
.cards .cards__container .card-container {
  border-radius: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 450px;
  transition: transform 150ms linear;
}
.cards .cards__container .card-container--weights {
  background-image: linear-gradient(328deg, rgba(168, 1, 1, 0.774) 0%, rgba(8, 8, 8, 0.541) 50%), url("../../../img/gym-coronavirus.webp");
  background-position: center;
  background-size: cover;
}
.cards .cards__container .card-container--pool {
  background-image: linear-gradient(328deg, rgba(12, 167, 146, 0.774) 0%, rgba(8, 8, 8, 0.541) 50%), url("../../../img/swim.jpg");
  background-position: center;
  background-size: cover;
}
.cards .cards__container .card-container--mma {
  background-image: linear-gradient(228deg, rgba(109, 103, 103, 0.774) 0%, rgba(34, 34, 34, 0.541) 50%), url("../../../img/mma.jpg");
  background-position: center;
  background-size: cover;
}
.cards .cards__container .card-container--yoga {
  background-image: linear-gradient(298deg, rgba(182, 134, 63, 0.774) 0%, rgba(73, 61, 29, 0.589) 50%), url("../../../img/hot-yoga.webp");
  background-position: center;
  background-size: cover;
}
.cards .cards__container .card-container:hover:hover, .cards .cards__container .card-container:hover:focus, .cards .cards__container .card-container:focus:hover, .cards .cards__container .card-container:focus:focus {
  transform: translateY(-1rem) scale(1.05);
  transition: transform 150ms linear;
  box-shadow: 1px 1px 20px #6d5d4b;
}
.cards .cards__container .card-container__content {
  padding: 3rem 2rem;
  color: #fff;
}
.cards .cards__container .card-container__title {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.cards .cards__container .card-container__text {
  font-size: 1.6rem;
  font-family: "IBM Plex Sans", sans-serif;
}
.cards .cards__container .cards-container__button {
  justify-self: center;
}

/*PICTURE SECTION*/
.about {
  grid-column: 1/-1;
}
.about__pictures {
  margin-bottom: 8rem;
  padding: 4.5rem 3rem;
  background: #c91919;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
}
.about__pictures .img1 {
  width: 80%;
  grid-column: 1/5;
  grid-row: 1/5;
  z-index: 30;
}
.about__pictures .img2 {
  width: 130%;
  grid-column: 3/6;
  grid-row: 4/6;
}
.about__text {
  padding: 4rem 6rem;
  grid-column: 1/-1;
  background-color: rgba(201, 25, 25, 0.1);
}
@media screen and (max-width: 25em) {
  .about__text {
    padding: 4rem;
  }
}
.about__title {
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #54483a;
}
.about__subtitle {
  font-size: 1.75rem;
  font-family: "Roboto", sans-serif;
  margin-bottom: 3rem;
  color: #c91919;
}
.about__description {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1.6rem;
  color: #6d5d4b;
}
.about__button {
  margin-top: 2rem;
}

.perk {
  background-color: #fff;
  margin-bottom: 8rem;
  display: flex;
  flex-direction: column;
}
.perk-img {
  width: 4.5rem;
  margin-bottom: 1.5rem;
  align-self: center;
}
.perk__title {
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  color: #54483a;
  font-family: "Roboto", sans-serif;
  font-size: 1.75rem;
}
.perk__subtitle {
  color: #6d5d4b;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1.6rem;
}

.perks-section {
  grid-column: center-start/center-end;
  margin-bottom: 8rem;
}
.perks-section .perks-container {
  display: grid;
  grid-column: center-start/center-end;
  grid-template-columns: 1fr;
  column-gap: 2rem;
}
@media only screen and (min-width: 37.5em) {
  .perks-section .perks-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

.trainers {
  grid-column: -1/1;
  background-image: linear-gradient(rgba(75, 75, 75, 0.45), rgba(75, 75, 75, 0.45)), url("../../../../img/7971.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 3rem;
  padding-bottom: 0;
  display: grid;
  grid-template-columns: repeat(6, 6rem);
  justify-content: center;
  align-items: end;
  row-gap: 5rem;
}
.trainers__img1 {
  width: 100%;
  grid-column: 1/3;
  grid-row: 4/3;
}
.trainers__img2 {
  width: 100%;
  grid-column: 2/5;
  grid-row: 4/3;
  z-index: 20;
}
.trainers__img3 {
  width: 120%;
  grid-column: 3/6;
  grid-row: 4/3;
}
.trainers .trainers-text {
  grid-column: 1/6;
  grid-row: 1/3;
  color: #fff;
}
.trainers .trainers-text__title {
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  margin-bottom: 1rem;
}
.trainers .trainers-text__descr {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.cards {
  grid-column: col-start/col-end 8;
  margin-bottom: 8rem;
}
.cards .cards__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 5rem;
}
.cards .cards__container .card-container {
  border-radius: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 450px;
  transition: all 150ms linear;
  box-shadow: 1px 1px 9px #6d5d4b;
}
@media screen and (max-width: 37.5em) {
  .cards .cards__container .card-container--test {
    height: 400px;
  }
}
.cards .cards__container .card-container:hover:hover, .cards .cards__container .card-container:hover:focus, .cards .cards__container .card-container:focus:hover, .cards .cards__container .card-container:focus:focus {
  transform: translateY(-1rem) scale(1.05);
  transition: transform 150ms linear;
  box-shadow: 1px 1px 20px #6d5d4b;
}
.cards .cards__container .card-container__content {
  padding: 3rem 2rem;
  color: #54483a;
}
.cards .cards__container .card-container__content:hover, .cards .cards__container .card-container__content:focus p {
  color: #c91919 !important;
  transition: all 500ms linear;
}
.cards .cards__container .card-container__img {
  width: 150px;
  height: 150px;
  background-position: center center;
  background-size: cover;
  border-radius: 100%;
  margin: 0 auto;
  margin-bottom: 5rem;
}
.cards .cards__container .card-container__title {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.cards .cards__container .card-container__text {
  font-size: 1.6rem;
  font-family: "IBM Plex Sans", sans-serif;
}
.cards .cards__container .cards-container__button {
  justify-self: center;
}

.section-titles {
  text-align: center;
  grid-column: center-start/center-end;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  margin: 8rem 0;
}
.section-titles::after {
  content: "";
  display: block;
  border: #c91919 solid 3px;
  background-color: #c91919;
  width: 100%;
  max-width: 15rem;
  margin: 0 auto;
  margin-top: 2.5rem;
}
.section-titles__name {
  color: #c91919;
  text-transform: uppercase;
  margin-bottom: 0.25rem;
}
.section-titles__main {
  font-size: 3.5rem;
  margin-bottom: 1.5rem;
}
.section-titles__sub {
  font-size: 1.65rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
@media only screen and (min-width: 37.5em) {
  html {
    font-size: 68.75%;
  }
}
@media only screen and (min-width: 56.25em) {
  html {
    font-size: 75%;
  }
}
@media only screen and (min-width: 75em) {
  html {
    font-size: 81.25%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 87.5%;
  }
}

body {
  box-sizing: border-box;
  margin: 0;
}

/*# sourceMappingURL=app.css.map */
