@use "../abstracts/mixins" as mix;
.grid {
  margin: 0;
  display: grid;
  grid-template-columns:
    [full-start] minmax(6rem, 1fr) [center-start] repeat(
      8,
      [col-start] minmax(min-content, 10rem) [col-end]
    )
    [center-end] minmax(6rem, 1fr) [full-end];

  @media screen and (max-width: 25em) {
    grid-template-columns:
      [full-start] minmax(3rem, 1fr) [center-start] repeat(
        8,
        [col-start] minmax(min-content, 10rem) [col-end]
      )
      [center-end] minmax(3rem, 1fr) [full-end];
  }

  @include mix.respond(tab-landscape) {
    grid-row: min-content 50vw min-content;
  }
}
