@use "../../components/about-cards";
@use "../../abstracts/variables" as var;
@use "../../abstracts/clay_variables" as cv;
@use "../../abstracts/mixins" as mix;

/*PICTURE SECTION*/

.about-section {
  grid-column: 1 / -1;
  &__container {
    display: flex;
    flex-direction: column;
    @include mix.respond(tab-landscape) {
      flex-direction: row;
    }
  }
  &__text {
    padding: 4rem 6rem;
    grid-column: 1 / -1;
    background-color: rgba($color: cv.$main-color, $alpha: 0.1);
    display: flex;
    @media screen and (max-width: 25em) {
      padding: 4rem;
    }
    .text-container {
      @include mix.respond(lap-desktop) {
        align-self: center;
      }
    }
    .about-title {
      @include mix.sectionTitle;
      color: var.$color-grey-dark-1;
    }
    .about-subtitle {
      font-size: 1.75rem;
      font-family: cv.$main-font;
      margin-bottom: 3rem;
      color: cv.$main-color;
    }
    .about-description {
      font-family: cv.$secondary-font;
      font-size: var.$default-font-size;
      color: var.$color-grey-dark-2;
    }
    .about-button {
      margin-top: 2rem;
    }
  }
  &__pictures {
    grid-column: 1 / -1;
    background-color: cv.$main-color;
    position: relative;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 0rem 3rem;
    @include mix.respond(tab-landscape) {
      width: 200rem;
    }
    .img1 {
      width: 70%;
      grid-column: 1 / span 8;
      z-index: 1;
      transform: translateY(4rem);
    }
    .img2 {
      width: 100%;
      grid-column: 3 / span 6;
      grid-row: 2 / 3;
      transform: translateY(-4rem);
    }
  }
  &__button {
    margin-top: 2rem;
  }
}
