@use "../../abstracts/clay_variables" as cv;
@use "../../abstracts/variables" as var;
@use "../../abstracts/mixins" as mix;
@use "../../layout/main_grid" as grid;
@use "../../components/button" as btn;

.footer {
  grid-column: 1 / -1;
  background-color: cv.$main-color;
  color: #fff;
  .contents {
    display: grid;
    grid-template-columns: 1fr;
    padding: 3rem;
    @include mix.respond(tab-portrait) {
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      gap: 3rem;
    }
    @include mix.respond(tab-landscape) {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
    }
  }
  &__about {
    .about-title {
      @include mix.sectionTitle;
    }
    .about-descr {
      font-size: var.$default-font-size;
      font-family: cv.$secondary-font;
    }
  }
  &__navigation {
    @include mix.respond(tab-portrait) {
      justify-self: center;
    }
    .list-title {
      @include mix.sectionTitle;
      margin-top: 4rem;
      @include mix.respond(tab-portrait) {
        margin-top: 0;
      }
    }
    .links-list {
      font-size: var.$default-font-size;
      list-style: none;
    }
    a {
      color: #fff;
      text-decoration: none;
      font-family: cv.$main-font;
    }
  }
  &__contact {
    @include mix.respond(tab-portrait) {
      margin-top: 0;
    }
    @include mix.respond(tab-landscape) {
      align-self: start;
    }

    .newsletter-title {
      @include mix.sectionTitle;
    }

    margin-top: 3rem;
    input[type="email"],
    input[type="submit"] {
      border-radius: 45px;
      padding-left: 15px;
      padding-right: 15px;
    }
    input[type="email"] {
      background-color: #ffffff;
      border: solid #ffffff;
      color: #59546a;
    }

    input[type="submit"] {
      background-color: cv.$main-color;
      border: solid cv.$main-color-dark;
      color: white;
      margin-left: -80px;
    }
  }
  .copyright {
    margin-top: 3rem;
    text-align: center;
    background-color: #b13737;
    grid-column: 1 / -1;
    justify-self: center;
  }
}
