@use "../abstracts/mixins" as mix;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  font-size: 62.5%; //1rem = 10px; 10px/16px = 62.5%

  @include mix.respond(tab-portrait) {
    //600px - 899px
    font-size: 68.75%; //1rem = 11px. 11/16 = 68.75%
  }

  @include mix.respond(tab-landscape) {
    //900px - 1199px
    font-size: 75%; //1rem = 12px. 12/16 = 75%
  }

  @include mix.respond(lap-desktop) {
    //1200px - 1800px
    font-size: 81.25%; //1rem = 13px. 13/16 = 81.25%;
  }

  @include mix.respond(big-desktop) {
    //1800px +
    font-size: 87.5%; //1rem = 14px. 14/16 = 87.50%
  }
}

body {
  box-sizing: border-box;
  margin: 0;
}
