@use "./clay_variables" as cv;
@use "./variables" as var;

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@mixin hoverCard {
  &:hover,
  &:focus {
    transform: translateY(-1rem) scale(1.05);
    transition: transform 150ms linear;
    box-shadow: 1px 1px 20px var.$color-grey-dark-2;
  }
}
@mixin clickTranslate {
  &:active {
    transform: translateY(0.15rem);
    transition: transform 150ms linear;
  }
}
@mixin sectionTitle {
  font-family: cv.$main-font;
  font-size: 3rem;
  margin-bottom: 1rem;
}

//MEDIA QUERY MANAGER
/*

000 - 600px:    normal styles
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet Landscape
1200px - 1800px:  Laptop/Desktop
1800px + :      Big Desktop

  $breakpoint argument choices

  -tablet-portrait
  -tablet-landscape
  -laptop-desktop
  -big-desktop

  1em = 16px
  */

@mixin respond($breakpoint) {
  @if $breakpoint == tab-portrait {
    @media only screen and (min-width: 37.5em) {
      //600px
      @content;
    }
  }
  @if $breakpoint == tab-landscape {
    @media only screen and (min-width: 56.25em) {
      //900px
      @content;
    }
  }
  @if $breakpoint == lap-desktop {
    @media only screen and (min-width: 75em) {
      //1200px
      @content;
    }
  }
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      // 1800px
      @content;
    }
  }
}
